<div id="post_list">
<CENTER><h1>Posts</h1></CENTER>

<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Last Update</th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
<tr class="<%= cycle('list_line_odd', 'list_line_even') %>" >
    <td><%= post.name %></td>
    <td><%= link_to post.title, post %></td>
    <td><%= post.updated_at%></td>
    <p>
    	<td><%= link_to 'Edit', edit_post_path(post) %></td>
   	 	<td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
	  </p>
 </tr>
<% end %>
</table>

<%= will_paginate @posts, :page_links => true %>
<% form_tag request.path, :method => 'get' do %>
  <% content_tag :label do %>
    Search term:
    <%= text_field_tag :search, params[:search] %>
  <% end %>
<% end %>
